.aboutme {
  display: block;
  height: 100vh;
  color: whitesmoke;
  background-color: rgb(41, 41, 41);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}