.aboutme {
  display: block;
  height: 100vh;
  color: white;
  background: linear-gradient(335deg, #ffe4a8 0%, #cc2b5e 100%);
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}