.hobby {
  height: 100vh;
  background-color: #00ADAD;
  position: relative;
  font-size: 2vw;
  font-weight: 640;
  color: wheat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.containerHobby {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  flex-wrap: wrap;
  gap: 100px;
}

.hobbys {
  background-color: black;
  width: 350px;
  height: 250px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.hobbys .hobbysUp {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 70%;
  background-position: center;
  background-size: cover;
}
.hobbys .hobbysDown {
  width: 100%;
  padding-top: 5px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .containerHobby {
    height: 75vh;
    justify-content: center;
    width: auto;
    gap: 10px;
  }
  .hobbys {
    width: 300px;
    height: 150px;
    font-size: 1.5rem;
  }
}
.gym {
  background-image: url(../assets/gym.webp);
}

.bicycle {
  background-image: url(../assets/bicycle.webp);
}

.games {
  background-image: url(../assets/games.webp);
}

.music {
  background-image: url(../assets/music.webp);
}