.home {
  display: block;
  padding: 20% 20%;
  color: white;
  background-image: url("../assets/home.png");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 2rem;
}