.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 100%;
  background-color: #333;
  color: wheat;
  font-size: 3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.typing-demo {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  -webkit-animation: typing 3.5s steps(29), blink-caret 0.75s step-end infinite;
          animation: typing 3.5s steps(29), blink-caret 0.75s step-end infinite;
  white-space: nowrap;
  border-right: 0.15em solid;
  background-color: black;
  padding: 10px;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 1010px;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 1010px;
  }
}
@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}