.projects {
  display: flex;
  height: 100vh;
  color: whitesmoke;
  background-color: #010001;
  font-size: 5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 10;
}