.aboutme {
    display: flex;
    height: 100vh;
    color: whitesmoke;
    background-color: #333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 5rem;
    user-select: none;
}