.footer{
    width: 100%;
    height: 5vh;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    z-index: 5;
    user-select: none;
    gap: .7vw;
    .footer-items{
        background-repeat: no-repeat;
        background-size: contain;
        height: 2vw;
        width: 2vw;
        cursor: pointer;
        transition: transform .3s ease-in-out;
        &:hover{
            transform: translateY(-15px) rotate(-10deg) scale(1.2);
        }
    }
    .github{
        background-image: url(../assets/icons/github.png);
    }
    .instagram{
        background-image: url(../assets/icons/instagram.png);
    }
    .mail{
        background-image: url(../assets/icons/mail.png);
        margin-right: 1vw;
    }
    .facebook{
        background-image: url(../assets/icons/facebook.png);
    }
}