.hobby{
    position: relative;
    z-index: 6;
    font-size: 2vw;
    font-weight: 640;
    color: wheat;
    user-select: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(45px, 5vw, 100px) 0px;
    background: url(../assets/background/background-forest.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-transform: capitalize;
}
.background{
    background: linear-gradient(180deg, #03500500 0%, #010001 54%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
Canvas{
    position: absolute;
    bottom: 0;
    left: 0;
}
.containerHobby{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: clamp(20px, 5vw, 80px);
}
.hobbys{
    background-color: rgba(0, 0, 0, 0.301);
    backdrop-filter: blur(2px);
    width: 350px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 3px solid wheat;
    .hobbysUp{
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 70%;
        background-size: cover;
    }
    .hobbysDown{
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 900px){
    .hobby{
        height: auto;
        font-weight: 720;
        padding: 50px 0px;
        background-image: url(../assets/background/phone-forest.jpg);
        background-position: top center;
    }
    .containerHobby{
        width: 100%;
        gap: 30px;
        flex-direction: column;
    }
    .hobbys{
        width: 80%;
        height: 150px;
        .hobbysUp{
            height: 100%;
            position: relative;
            border-radius: 15px;
        }
        .hobbysDown{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            font-size: 2rem;
            div{
                padding: 10px;
                width: 60%;
                backdrop-filter:blur(5px);
                -webkit-text-stroke: black 1.5px;
                border: 2px solid black;
                text-align: center;
                border-radius: 15px;
            }
        }
    }
}
.skiing{
    background-image: url(../assets/hobbies/skiing.webp);
    background-position: center;
}
.calisthenics{
    background-image: url(../assets/hobbies/calisthenics.webp);
    background-position: center;
}
.cycling{
    background-image: url(../assets/hobbies/bicycle.webp);
    background-position: center;
}
.jogging{
    background-image: url(../assets/hobbies/jogging.webp);
    background-position: top;
}
.coding{
    background-image: url(../assets/hobbies/coding.webp);
    background-position: center;
}
.music{
    background-image: url(../assets/hobbies/music.webp);
    background-position: center;
}
.games{
    background-image: url(../assets/hobbies/games.webp);
    background-position: center;
}
.movies{
    background-image: url(../assets/hobbies/cinema.webp);
    background-position: bottom;
}