.home{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    height: 160vh;
    width: 100%;
    color: #364B44;
    font-size: 3rem;
    user-select: none;
    font-weight: 700;
}

.container{
    position: absolute;
    top: 35vh;
    left: 20%;
    z-index: 4;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.typing-demo{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    -webkit-text-stroke: 2px black;
    background-color: #364b442d;
    // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 2px solid black;
}
.name{
    color: #007E6A;
    z-index: 5;
    -webkit-text-stroke: 2px black;
    padding: 10px 40px;
    background-color: #364b442d;
    // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 10px 0 10px 30px;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 2px solid black;
}

.sun{
    background:radial-gradient(circle, rgb(255, 135, 0), orange, rgb(255, 208, 0));
    box-shadow: orange 0 0 100px;
    height: 20vw;
    width: 20vw;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 0;
    border: 5px solid orange;
}
.hill{
    height: 85vw;
    width: 100%;
    position: absolute;
    top: -35%;
    left: 0;
    z-index: 3;
    background-image: url(../assets/hill.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.forest{
    height: 85vw;
    width: 100%;
    position: absolute;
    top: -30%;
    left: 0;
    background-image: url(../assets/forest.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
}
.clouds{
    width: 100%;
    height: 85vh;
    position: absolute;
    top: 10%;
    left: 0;
    background-image: url(../assets/clouds.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    animation: clouds 2s infinite alternate ease-in-out;
}
@keyframes clouds{
    from { top: 0 }
    to { top: 20px; }
}