.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100%;
    background-image: url(../assets/planet.jpg);
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 5rem;
    user-select: none;
    color: whitesmoke;
}

.title, .scrolled{
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    padding-left: 10vw;
    transition:
        backdrop-filter .3s ease-in-out,
        padding-left .4s ease-in-out;
    -webkit-text-stroke: 2px;
}
.scrolled{
    backdrop-filter: blur(8px);
    padding-left: 38vw;
}
