.home{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    height: 160vh;
    width: 100%;
    position: relative;
    color: #184639;
    font-size: 14vw;
    user-select: none;
    font-weight: 700;
    -webkit-text-stroke: .5vw black;
}

.container{
    position: absolute;
    width: 100%;
    top: 30vh;
    left: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sun{
    background:radial-gradient(circle, rgb(255, 135, 0), orange, rgb(255, 208, 0));
    box-shadow: orange 0 0 100px;
    height: 20vw;
    width: 20vw;
    position: absolute;
    bottom: 40%;
    left: 15%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 0;
    border: 5px solid orange;
}
.hill{
    height: 95vw;
    width: 100vw;
    position: absolute;
    bottom: 0%;
    left: 0;
    z-index: 3;
    background-image: url(../assets/background/hill.webp);
    background-repeat: no-repeat;
    background-size: cover;

}
.forest{
    height: 85vw;
    width: 100%;
    position: absolute;
    bottom: 9vw;
    left: 0;
    background-image: url(../assets/background/forest.webp);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
}
.clouds{
    width: 300%;
    height: 145vh;
    position: absolute;
    top: 10%;
    left: 0;
    background-image: url(../assets/background/clouds.webp);
    background-repeat: repeat-x;
    background-size: contain;
    z-index: 2;
    animation: clouds 30s infinite alternate ease-in-out;
}

.welcome, .upper-text, .middle-text, .bottom-text, .material-symbols-outlined{
    display: none;
}
@keyframes clouds{
    0% {transform: translate3d(0, 0, 0); }
    100% {transform: translate3d(-50%, 0, 0);}
}

@keyframes arrow{
    0% {transform: translateY(0px);}
    15% {transform: translateY(0px);}
    20% {transform: translateY(10px);}
    25% {transform: translateY(0px);}
    30% {transform: translateY(10px);}
    35% {transform: translateY(0px);}
    100% {transform: translateY(0px);}
}

@media only screen and (max-width: 900px){
    .home{
        // display: none;
        height: 100vh;
        background: black;
        font-weight: 700;
        font-size: 3rem;
        color: wheat;
        -webkit-text-stroke: none;
        .mobile-home{
            position: fixed;
            z-index: 5;
            height: 100%;
            width: auto;
            display: flex;
            flex-direction: column;
            top: 5vh;
            .welcome, .upper-text, .middle-text, .bottom-text{
                background: linear-gradient(to top, #010001, #010001, #010001, #01000100);
                display: block;
                padding: 15px 0 15px 5px;
                border-left: 3px solid wheat;
            }
            .welcome{
                text-align: center;
                font-size: 4rem;
            }
            .material-symbols-outlined{
                background: linear-gradient(to top, #010001, #010001, #010001, #01000100);
                display: block;
                text-align: center;
                margin-top: 8vh;
                font-size: 5rem;
                animation: arrow 2s linear infinite;
                font-variation-settings:
                    'FILL' 1,
                    'wght' 700,
                    'GRAD' 200,
                    'opsz' 48
                ;
                a{
                    cursor: pointer;
                }
            }
        }
    }
    .forest, .hill, .sun, .clouds, .container{
        display: none;
    }
}