.projects {
    height: 100vh;
    font-size: 2vw;
    user-select: none;
    background-color: #005547;
    background: #005B60;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 500;
    position: relative;
    .project-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vh;
        .box{
            margin-top: 11vw;
            width: 80%;
            height: 20vw;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            z-index: 9;
            text-align: center;
            .project-items{
                color: wheat;
                width: 13vw;
                height: 12vw;
                margin: 15px auto;
                z-index: 9;
                transition: .3s ease-in-out;
                border-radius: 5px;
                box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.514), 4px 0px 5px rgba(0, 0, 0, 0.514);
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                background-size: calc(100% - 70px);
                position: relative;
                background-color: black;
                &:hover{
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    background-color: rgba(0, 0, 0, 0.719);
                    transform: translate(-5px, -10px);
                }
            }
            .project-text{
                height: 50px;
                z-index: 9;
            }
            .grid-element{
                display: flex;
                justify-content: center;
            }
            .clicker-game{
                background-image: url(../assets/icons/pickaxe.png);
            }
            .calculator{
                background-image: url(../assets/icons/calc.png);
            }
            .arm-wresling{
                background-image: url(../assets/icons/arm.png);
            }
            .to-do-list{
                background-image: url(../assets/icons/todo.png);
            }
        }
        .seemore{
            color: wheat;
            width: 65%;
            height: 5vw;
            background-color: #000000;
            margin: auto;
            border-radius: 5px;
            font-size: 3vw;
            cursor: pointer;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.514), 4px 0px 5px rgba(0, 0, 0, 0.514);
            transition: .3s ease-in-out;
            text-align: center;
            padding-top: 20px;
            z-index: 9;
            position: inherit;
            &:hover{
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                background-color: rgba(0, 0, 0, 0.719);
                transform: translate(-5px, -10px);
            }
            a{
                height: 100%;
                width: 100%;
            }
        }
    }
}
.wave{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    .path-0{
        animation: pathAnim 40s linear infinite;
        }
        @keyframes pathAnim{
            0%{
                d: path("M 0,400 C 0,400 0,200 0,200 C 56.02011684157658,165.37032435433133 112.04023368315316,130.74064870866266 158,137 C 203.95976631684684,143.25935129133734 239.85918210896398,190.4077295196807 285,224 C 330.140817891036,257.5922704803193 384.52303788099084,277.6284332126147 437,257 C 489.47696211900916,236.37156678738532 540.0486663670729,175.07853762986068 580,171 C 619.9513336329271,166.92146237013932 649.2822966507176,220.05741626794259 697,256 C 744.7177033492824,291.9425837320574 810.8221470300563,310.691797298369 869,274 C 927.1778529699437,237.30820270163102 977.4291152290573,145.17539453858151 1019,143 C 1060.5708847709427,140.82460546141849 1093.4613920537151,228.60662454730493 1144,238 C 1194.5386079462849,247.39337545269507 1262.7253165560812,178.3981072721986 1315,159 C 1367.2746834439188,139.6018927278014 1403.6373417219593,169.80094636390072 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            25%{
                d: path("M 0,400 C 0,400 0,200 0,200 C 50.77784239604537,198.68199000766606 101.55568479209074,197.36398001533215 153,184 C 204.44431520790926,170.63601998466785 256.5551032276824,145.22606994633747 307,143 C 357.4448967723176,140.77393005366253 406.2239022971794,161.731740199318 446,193 C 485.7760977028206,224.268259800682 516.5492875836,265.8469692563906 557,261 C 597.4507124164,256.1530307436094 647.578947368421,204.88038277511964 706,205 C 764.421052631579,205.11961722488036 831.134922942716,256.6314996431309 879,259 C 926.865077057284,261.3685003568691 955.8813608607154,214.59361865235667 1004,208 C 1052.1186391392846,201.40638134764333 1119.3396336144228,234.99402574744244 1168,254 C 1216.6603663855772,273.00597425255756 1246.7601046815935,277.4302783578736 1289,266 C 1331.2398953184065,254.5697216421264 1385.6199476592033,227.2848608210632 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            50%{
                d: path("M 0,400 C 0,400 0,200 0,200 C 51.09594490998968,203.28994950963545 102.19188981997937,206.57989901927093 148,196 C 193.80811018002063,185.42010098072907 234.3283856300722,160.97035343255175 287,142 C 339.6716143699278,123.02964656744827 404.494567659732,109.53868725052209 446,138 C 487.505432340268,166.4613127494779 505.69334373100014,236.8748975653599 553,270 C 600.3066562689999,303.1251024346401 676.7320574162678,298.9617224880383 736,262 C 795.2679425837322,225.03827751196175 837.3784266039283,155.278212482487 886,153 C 934.6215733960717,150.721787517513 989.7542361680194,215.9254275820138 1028,235 C 1066.2457638319806,254.0745724179862 1087.6046287239947,227.0200771894578 1131,212 C 1174.3953712760053,196.9799228105422 1239.8272489360015,193.99426366015493 1295,194 C 1350.1727510639985,194.00573633984507 1395.0863755319992,197.00286816992252 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            75%{
                d: path("M 0,400 C 0,400 0,200 0,200 C 44.10658489518623,193.88959528404132 88.21316979037246,187.77919056808267 135,190 C 181.78683020962754,192.22080943191733 231.25390573369634,202.7728330117106 276,214 C 320.74609426630366,225.2271669882894 360.77120727484197,237.12947738507492 414,235 C 467.22879272515803,232.87052261492508 533.6612651669356,216.70925744798964 588,200 C 642.3387348330644,183.29074255201036 684.5837320574162,166.0334928229665 728,188 C 771.4162679425838,209.9665071770335 816.0038066033994,271.15677126014435 857,268 C 897.9961933966006,264.84322873985565 935.4010415289856,197.33942213645616 985,157 C 1034.5989584710144,116.66057786354385 1096.3920272806577,103.48554019403105 1145,136 C 1193.6079727193423,168.51445980596895 1229.0308493483838,246.7184170874197 1276,265 C 1322.9691506516162,283.2815829125803 1381.4845753258082,241.64079145629015 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            100%{
                d: path("M 0,400 C 0,400 0,200 0,200 C 56.02011684157658,165.37032435433133 112.04023368315316,130.74064870866266 158,137 C 203.95976631684684,143.25935129133734 239.85918210896398,190.4077295196807 285,224 C 330.140817891036,257.5922704803193 384.52303788099084,277.6284332126147 437,257 C 489.47696211900916,236.37156678738532 540.0486663670729,175.07853762986068 580,171 C 619.9513336329271,166.92146237013932 649.2822966507176,220.05741626794259 697,256 C 744.7177033492824,291.9425837320574 810.8221470300563,310.691797298369 869,274 C 927.1778529699437,237.30820270163102 977.4291152290573,145.17539453858151 1019,143 C 1060.5708847709427,140.82460546141849 1093.4613920537151,228.60662454730493 1144,238 C 1194.5386079462849,247.39337545269507 1262.7253165560812,178.3981072721986 1315,159 C 1367.2746834439188,139.6018927278014 1403.6373417219593,169.80094636390072 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
    }
}